<!DOCTYPE html>
<!-- saved from url=(0034)http://emeraldparkmemorial.com.au/ -->
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-189007273-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-189007273-1');
</script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/custom.css">
  <link rel="stylesheet" href="./css/ekko-lightbox.css">
  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/owl.theme.default.min.css">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link href="./css/css" rel="stylesheet">

  <title>Emeraldpark Memorial</title>

</head>

<body>
 
  <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top main_menu">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand col-6 col-md-5 col-lg-5" href="http://emeraldparkmemorial.com.au/"><img
            src="./images/logo-pet.png" alt="logo"></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse col-6 col-lg-7 col-md-7 justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://emeraldparkmemorial.com.au/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://emeraldparkmemorial.com.au/#home_about">About</a>
            </li>




            <li class="nav-item">
              <a class="nav-link" href="http://emeraldparkmemorial.com.au/#contact_vv"> Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="http://emeraldparkmemorial.com.au/FAQ.pdf"> FAQ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://emeraldparkmemorial.com.au/login"> Login </a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="http://emeraldparkmemorial.com.au/signup"><span>| &nbsp;</span> Create your
                account</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
  </header>
<!-- 
  <section class="header-banner">
    <img class="img-fluid" src="./images/header-img.png" alt="image">
  </section> -->
  <main>
<div class="d-flex flex-wrap  ">
   
   
    <section class="create-memories section-text w-100 ">
      <div class="container">
        
<div class="d-flex align-items-end flex-wrap align-items-md-start ">
        <div class="col-12 col-md-7 col-lg-7 col-xl-7">
          <h2 class="section-title"> Create lasting memories</h2>
          <p> <strong> Step 1. </strong> Create your account </p>
          <p> <strong> Step 2. </strong>Make Payment</p>
          <p> <strong> Step 3. </strong> Create an easy step by step virtual memorial of your beloved pet by adding
            video, images, music, audio or an obituary.</p>
          <p> <strong> Step 4. </strong>Place the virtual memorial anywhere you want to remember your pet. Use a smart
            device to scan the virtual memorial to gain instant access of images, videos, music, audio and more. The
            virtual memorial can be placed almost anywhere. Examples not limited to; a tree, park bench, an existing
            urn, one of our memorabilia products, or a custom made product.</p>
          <p> One virtual memorial profile can be duplicated and placed on multiple products, given to others enabling
            them all to see your favourite pet.</p>
          <a href="http://emeraldparkmemorial.com.au/signup" class="cta-btn">Create your account</a>
          <div class="special-offer m_view">
            <img class="img-fluid special_image" src="./images/star-png.png" alt="qrcode">


          </div>

          <br><br>

          <p>Once you have created and paid for your account you can start to add content</p>
          <p>Alternatively please email <a href="mailto:productions@emeraldparkmemorial.com.au">
              productions@emeraldparkmemorial.com.au </a> with account holders email address, photos, stories and music.
          </p>

          <p> We will start the memorial profile by creating a video with music and uploading the content you've
            provided. You can then edit or add more content when required.</p>

            <div class="d-flex align-items-center flex-wrap button-section-offer"> 
              Click Visit Profile to see a demo  <a href="https://emeraldparkmemorial.com.au/qrcode?username=KristyG" target="_blank" class="visit_profile cta-btn2"> Visit Profile</a>
              
         </div>
          <div class="m_view">
            <p class="special_content"> <b>Free Picture Frame With Every Account</b> <br/> With Your Unique Interactive Virtual Memorial Plaque Embedded.</p>


          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
          <div class="special-offer">
            <img class="img-fluid special_image" src="./images/star-png.png" alt="qrcode">
            <p class="special_content"> <b>Free Picture Frame With Every Account :- </b> 
              <span>With Your Unique Interactive  <br/>Virtual Memorial Plaque Embedded. </span> 
            </p>
  
          </div>
          <img class="pet_image" src="images/pet-bg.jpg"/> 
          </div>
        </div>

      </div>
    </section>

    <section class=" col-lg-4 col-12 mx-auto text-center mb-4 ">
      <h3 class="d-sm-none d-block"> Laser engraving</h3>
      <img src="images/image-pet-engraving.jpg" alt="pet-image" alt="images" />
      <h3 class="d-none d-sm-block"> Laser engraving</h3>
    </section>


</div>


    <section id="home_about" class="blue-bg margin_top ">
      <div class="container text-center">
        <h3 class="text-white"> About Emerald Park Pet Memorial</h3>
        <p>At Emerald Park, we believe life stories should never be lost.</p>
        <p class="my-0"> &nbsp;</p>
        <p>We recognise life is a unique journey and the significance of preserving these life stories. </p>
        <p>We strive to offer a place of remembrance, and provide a platform to ensure your loved ones (pets or humans)
          memory is honoured and their life story lives on for future generations.</p>
        <p class="my-0"> &nbsp;</p>
        <p>We’ve created an easy way to celebrate a life to share with others. </p>
      </div>
    </section>
    <section class="top-content search_ mt-4">
      <div class="container text-center">
        <form method="POST">

          <h3> Search our data base</h3>
          <div class="form-group search_form col-12 col-md-9 col-lg-9 mx-auto d-flex justify-content-center flex-wrap">
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Enter First Name</label>
              <input class="form-control" placeholder="Example is John" type="text" name="firstname">
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Enter Middle Name</label>
              <input class="form-control" type="text" name="middlename" placeholder="Example is David">
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Enter Last Name</label>
              <input class="form-control" type="text" name="lasttname" placeholder="Example is Smith">
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Enter Maiden Name</label>
              <input class="form-control" type="text" name="maiden_name" placeholder="Example is Jones">
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Date Of Birth(DOB)</label>
              <input class="form-control" placeholder="Enter Dob" type="date" name="dob">
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <label for="inputDateDeath" class="col-form-label">Date Of Death(DOD)</label>
              <input class="form-control" placeholder="Enter DoD" type="date" name="dod">
            </div>

            <div class="col-12 col-md-4 col-lg-4 text-center" style="margin-top: 35px;">
              <label for="inputDateDeath" class="col-form-label"></label>
              <button class="btn btn-primary ">Seach</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="contact_form" id="contact_vv">
      <div class="container ">
        <h3 class="heading_content"> Contact Us <br> Australia 
          <div class="d-flex align-items-center flex-wrap contact-number text-center justify-content-center">
            <h5> Phone Number:</h5> <a href="tel:1300289748">1300 289 748</a>
          </div>
          <div class="d-flex align-items-center flex-wrap contact-number text-center justify-content-center">
            <h5> Complete the contact us form below </h5>
          </div>
        </h3>

        <div class="d-flex flex-wrap">
          <div class="col-12 col-lg-6 col-md-6">
            <form method="POST" action="http://emeraldparkmemorial.com.au/contctus">

              <div class="form-group">
                <label for="email">Your Name (required)</label>
                <input type="text" required="" class="form-control" name="name" placeholder="Enter your name" id="name">
              </div>
              <div class="form-group">
                <label for="email">Your Email (required)</label>
                <input type="email" required="" class="form-control" name="email" placeholder="Enter email" id="email">
              </div>
              <div class="form-group">
                <label for="message">Your Message</label>
                <textarea class="form-control" required="" rows="8" name="message"
                  placeholder="Type your message"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
          <div class="col-12 col-lg-6 col-md-6">

            <iframe frameborder="0" width="100%" height="100%" scrolling="no" marginheight="0" marginwidth="0"
              src="https://maps.google.com/maps?q=Ballarat&amp;t=m&amp;z=11&amp;output=embed&amp;iwloc=near"
              aria-label="Ballarat"></iframe>
          </div>

        </div>
      </div>
    </section>
  </main>
  <footer class="footer bg-dark">
    <div class="container text-center">
      <img src="./images/logo-pet.png" alt="logo">
      <p>All rights reserved © 2020 Emerald Park Memorial </p>
    </div>
    <div class="text-center social-media">
      <a target="_blank" href="https://www.facebook.com/Emerald-Park-Memorial-114866203602869/"><i
          class="fab fa-facebook-f" aria-hidden="true"></i> </a>
      <a target="_blank" href="https://www.instagram.com/emerald_park_memorial/"> <i class="fab fa-instagram"
          aria-hidden="true"></i> </a> </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->



  <script src="./index_files/popper.min.js.download"></script>
  <script src="./index_files/bootstrap.min.js.download"></script>

  <script src="./index_files/jquery.min.js.download"></script>
  <script src="./index_files/owl.carousel.min.js.download"></script>
  <script src="./index_files/ekko-lightbox.js.download"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");

    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;

    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
  </script>

  <script>
    $(document).ready(function () {


      $('#contactusForm').on("submit",function( event ) {
        event.preventDefault();
        var dataString = $(this).serialize();
                $.ajax({
                    type : "POST",
                    url : "/contctus",
                    data :  dataString,
                   
                    success: function(response) {
          if(response.responseDesc == 'Sucess'){
            $(".gsuceesscheck").show();
            $(".gcheck").hide();
            $('#sumitbutton').prop('disabled', true);
          }else{
            $(".gcheck").show();
          }
          
         }
                });
      });

      // image zoom on home page //
      $(".myImg").on("click", function () {
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        // var img = document.getElementById("myImg");
        var img = $(this).attr("src");
        var modalImg = document.getElementById("img01");
        modal.style.display = "block";
        modalImg.src = this.src;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        }
      })

      // End image zoom on home page //

      $("#resetformOn").on("click", function (e) {
        var password = $("#password").val();
        var cpassword = $("#cpassword").val();


        $(".password,.cpassword,.pcpassword").hide();
        if (password == '' || password == undefined) {
          $(".password").show();

          event.preventDefault();
        } else if (cpassword == '' || cpassword == undefined) {
          $(".cpassword").show();
          event.preventDefault();
        } else if (password != cpassword) {
          $(".pcpassword").show();
          event.preventDefault();
        }
      })






      $(".signup_reisterationform").on("submit", function (event) {
        event.preventDefault();


        var firstname = $("#firstname").val();
        var lastname = $("#lastname").val();
        var userid = $("#userid").val();

        var email_id = $("#email_id").val();
        var cemail = $("#cemail").val();
        var mobile = $("#mobile").val();
        var ckbox = $('#term_condition');
        var password = $("#password").val();
        var cpassword = $("#cpassword").val();
        if (ckbox.is(':checked')) {
          var checkbox = '1';
        } else {
          var checkbox = '0';
        }

        $(".firstname,.lastname,.userid,.email_id,.cemail,.pcemail,.mobile,.allfields,.password,.cpassword,.pcpassword").hide();
        if (firstname == '' || firstname == undefined) {
          $(".firstname").show();
          $(".allfields").show();


        } else if (lastname == '' || lastname == undefined) {
          $(".lastname").show();
          $(".allfields").show();
          //  event.preventDefault();
        } else if (userid == '' || userid == undefined) {
          $(".userid").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (password == '' || password == undefined) {
          $(".password").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (cpassword == '' || cpassword == undefined) {
          $(".cpassword").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (password != cpassword) {
          $(".pcpassword").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (email_id == '' || email_id == undefined) {
          $(".email_id").show();
          // event.preventDefault();
        } else if (cemail == '' || cemail == undefined) {
          $(".cemail").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (email_id != cemail) {
          $(".pcemail").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (mobile == '' || mobile == undefined) {
          $(".mobile").show();
          $(".allfields").show();
          // event.preventDefault();
        } else if (checkbox == '0') {
          $(".term_condition").show();
          // event.preventDefault();
        } else {

          // event.preventDefault();
          $.ajax({
            type: "POST",
            url: "/admin/save_cartdata",
            data: { 'product_id': '5ec9df118010e205a473ccfa', 'qty': 1 },
            success: function (r) {
              if (r == 0) {
                alert("Sorry this Product is now out of stock");
                location.reload();

              } else {

                $.ajax({
                  type: "POST",
                  url: "/setsession",
                  data: { 'user': r.sessionemail, 'guesnum': r.guestno },
                  success: function (r) {
                    $.ajax({
                      type: "POST",
                      url: "/signup",
                      data: { 'firstname': firstname, 'lastname': lastname, 'userid': userid, 'email_id': email_id, 'password': password, 'mobile': mobile },
                      success: function (r2) {
                        if (r2 == 0) {
                          alert("Email Aready Exist!");
                        } else if (r2 == 2) {
                          alert("UserNAme Aready Exist!");
                        } else {
                          window.location.href = "/signup_cart";
                        }

                      }
                    });
                  }
                });
              }
            },
            error: function (e) {
              //   console.log("some error", e);
            }
          });



        }


      });




      $("#success-alertAlert").fadeTo(2000, 500).slideUp(500, function () {
        $("#success-alertAlert").slideUp(500);
      });
    })
  </script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee367594a7c6258179a75d5/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>

  <script>
    $('[data-toggle="lightbox"]').on('click', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox({
        onShow: function () {
          $('body').addClass('lightbox-open');
        },
        onHidden: function () {
          $('body').removeClass('lightbox-open');
        },
      });
      $('.ekko-lightbox').addClass('scale');
    });
  </script>
  <script>
    $('.owl-carousel').owlCarousel({

      loop: false,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true,
          autoplay: true,
          autoplayTimeout: 4000
        },
        600: {
          items: 2,
          nav: false
        },
        1000: {
          items: 3,
          nav: false,
          loop: true,
          autoplay: true,
          autoplayTimeout: 4000,
          autoplayHoverPause: true
        }
      }
    })


  </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>


  <!--End of Tawk.to Script-->
</body>

</html>